@model IEnumerable<MvcPractice1.Models.Item>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This is the Index action of the ItemController</h1>
    <table>
        <tr>
            <th>Item Id</th>
            <th>Description</th>
            <th>Units on Hand</th>
            <th>Cost</th>
            <th>Selling Price</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ItemId</td>
            <td>@item.Description</td>
            <td>@item.UnitsOnHand</td>
            <td>@item.Cost</td>
            <td>@item.SellingPrice</td>
        </tr>
        }
        </table>
</body>
</html>
